pandas
pyarrow
scikit-learn
numpy
pyyaml
GitPython
gdown
duckdb>=0.9.2
dask[distributed]
lightgbm
torch
tqdm
stable-baselines3
sb3-contrib
gym
MetaTrader5
ray
scikit-optimize
scipy
pyzmq
fastapi
uvicorn
mlflow
transformers
FinGPT
shap  # optional, used to compute SHAP feature importance
statsmodels
ydata-synthetic

grpcio
grpcio-tools
backtrader
freqtrade
